body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 100%;
  background-repeat: no-repeat;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#page {
  width: 100%;
  height: 150%;
}
#footer {
  position: absolute;
  width: 100%;
  bottom: -100%;
}

.column {
  width: 15%;

  height: 100%;
}

.column2 {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 3%;
  flex-direction: column;
}
#image-background {
  width: 85%;
  height: 90%;
  display: flex;
  align-items: center;
  padding-top: 5%;
  flex-direction: column;
  background-color: lightgreen;
  margin-top: 3%;
  border-radius: 5%;
}
.column3 {
  width: 15%;
  height: 100;
}

.wrap {
  display: flex;
  flex-direction: row;
}

.firstTitle {
  font-size: 40px;

  padding: 40px;
}

.secondTitle {
  text-align: center;

  padding-bottom: 40px;
}

.secondTitle span {
  font-size: 25px;
}

.thirdTitle {
  text-align: center;

  padding-bottom: 40px;
}

.thirdTitle span {
  font-size: 25px;
}

.forthTitle {
  text-align: center;

  padding-bottom: 30px;
}

.forthTitle span {
  font-size: 25px;
}

.fifthTitle {
  text-align: center;
}

.fifthTitle span {
  font-size: 25px;
}

.sixtitle {
  text-align: center;
  padding-top: 50px;
}

.sixtitle span {
  font-size: 25px;
}

.image {
  background-image: url("img/images.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  margin-top: 270px;
}

.kontakty {
  width: 50%;
  text-align: center;
  padding-top: 30px;
}

.imageslider {
  width: 90%;
}

.homeInfo {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
}

.homeInfo h3 {
  margin-top: 5%;
  text-align: center;
  width: 50%;
  height: 15%;
  font-style: Serif;
}

.homeInfo p {
  padding-top: 30px;
  width: 50%;
  font-size: 20px;
  text-align: center;
}
#imageMain {
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: center;
  border-radius: 40%;
}

.ubytInfo {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
}

.ubytInfo h3 {
  margin-top: 5%;
  text-align: center;
  width: 50%;
  height: 15%;
  font-style: Serif;
}

.ubytInfo p {
  width: 50%;
  font-size: 18px;
  text-align: center;
}

.ubytInfo h4 {
  font-size: bold;
  text-align: center;
  width: 50%;
  height: 15%;
  font-style: Serif;
}
#img-mapa {
  width: 50%;
  height: 50%;
  padding-top: 25px;
}
#img-kontakty {
  border-radius: 40%;
  display: flex;
  justify-content: center;
}
#cenik-img{
  height: 40%;
  width: 40%;
  border-radius: 40%;
  padding-top: 25px;
}

@import "~react-image-gallery/styles/css/image-gallery.css";
@media only screen and (max-width: 600px) {
  #page {
    height: 100%;
    width: 100%;
  }
  #footer {
    bottom: -125%;
  }

  .imageslider {
    padding-top: 25%;
    width: 75%;
  }
  .homeInfo p {
    width: 50%;
    font-size: 10px;
    text-align: center;
    padding-top: 15px;
  }
  .homeInfo h3 {
    font-size: 15px;
  }
  #imageMain {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
  }
  #image-background {
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
    padding-top: 5%;
    flex-direction: column;
    background-color: lightgreen;
    margin-top: 3%;
    border-radius: 5%;
  }
  .ubytInfo p {
    width: 50%;
    font-size: 13px;
    text-align: center;
  }
  .ubytInfo h3 {
    margin-top: 5%;
    text-align: center;
    width: 50%;
    height: 15%;
    font-style: Serif;
    font-size: 16px;
  }
  .ubytInfo h4 {
    font-size: bold;
    text-align: center;
    width: 50%;
    height: 15%;
    font-size: 14px;
    font-style: Serif;
  }
  #img-kontakty {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
  }
  .img-kontakty-kytka {
    width: 20%;
    margin-top: 620px;
    height: 20%;
    display: flex;
    justify-content: center;
  }
  .image {
    background-image: url("img/images.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin-top: 285px;
  }
  #cenik-img{
    height: 80%;
    width: 80%;
    border-radius: 40%;
    padding-top: 25px;
  }
}
