
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#page{
width: 100%;
height: 100%;

}
#footer{
  position: absolute;
  width: 100%;
  bottom: 0;

}
.slide-container{
  overflow: hidden;
  align-items: center;
  width: 800px;
  height:100%;
  background-repeat:no-repeat ;
}
.imgContainer{
  align-items: center;
  justify-content: center;
  padding-left: 15%;
  background-repeat:no-repeat ;
}

#con-title {
  font-size: 32px;
}
.column{
  height: 100vh;
  width: 15%;
  background-color: #e6e6e6;
  }
  
  .column2{
    border: 2px solid black;
    height: 100vh;
    width: 70%;
    display: flex;
    align-items: center;
    padding-top: 1.5%;
    flex-direction: column;
    }
  
    .column3{
      height: 100vh;
      width: 15%;
      background-color: #e6e6e6;
      }
  
  .wrap{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }


.firstTitle{
    font-size: 40px;
    background-color: purple;
    
}

.secondTitle{
background-color: red;
text-align: center;

}
.secondTitle span{
  font-size: 25px;
}




  @import "~react-image-gallery/styles/css/image-gallery.css";